<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form action="/links/edit/{{singleLink.id}}" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title"  placeholder="title" value="{{singleLink.title}}">
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                <input type="url" class="form-control" name="url" placeholder="url" value="{{singleLink.url}}">
            </div>

             <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control"  name="description" rows="2">{{singleLink/description}}</textarea>
            </div>

            <button type="submit" class="btn btn-success btn-block">Update</button>
            </form>
        </div>
    </div>

</div>
